body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* デスクトップ表示 */
@media (min-width: 768px) {
  .desktop-table {
    display: block !important;
  }
  .mobile-table {
    display: none !important;
  }
}

/* モバイル表示 */
@media (max-width: 767px) {
  .desktop-table {
    display: none !important;
  }
  .mobile-table {
    display: block !important;
  }
} 